---
name: E2E
on:
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]
env:
  TOOLS_PATH: "/opt/tools/bin"
  GONOPROXY: 'github.com/percona'
  GONOSUMDB: 'github.com/percona'
  GOPRIVATE: 'github.com/percona'

jobs:
  e2e-core-tests:
    name: DB core tests
    concurrency: eks-e2e-tests
    if: —Åontains(fromJSON('["test/e2e", "test/e2e-core"]'), github.event.pull_request.labels.*.name)
    uses: ./.github/workflows/e2e-eks.yaml
    secrets: inherit
    with:
      make_target: test-e2e-core

  e2e-db-upgrade-tests:
    name: DB upgrade tests
    concurrency: eks-e2e-tests
    if: contains(fromJSON('["test/e2e", "test/e2e-db-upgrade"]'), github.event.pull_request.labels.*.name)
    uses: ./.github/workflows/e2e-eks.yaml
    secrets: inherit
    with:
      make_target: test-e2e-db-upgrade

  e2e-db-operator-upgrade-tests:
    name: DB operator upgrade tests
    concurrency: eks-e2e-tests
    if: contains(fromJSON('["test/e2e", "test/e2e-operator-upgrade"]'), github.event.pull_request.labels.*.name)
    uses: ./.github/workflows/e2e-eks.yaml
    secrets: inherit
    with:
      make_target: test-e2e-operator-upgrade

  e2e-engine-features-tests:
    name: DB engine features tests
    concurrency: eks-e2e-tests
    if: contains(fromJSON('["test/e2e", "test/e2e-engine-features"]'), github.event.pull_request.labels.*.name)
    uses: ./.github/workflows/e2e-eks.yaml
    secrets: inherit
    with:
      make_target: test-e2e-engine-features

  e2e-data-import-tests:
    name: Data importer tests
    concurrency: eks-e2e-tests
    if: contains(fromJSON('["test/e2e", "test/e2e-data-import"]'), github.event.pull_request.labels.*.name)
    strategy:
      fail-fast: false
      matrix:
        make_target:
          - test-e2e-data-importer-pg
          - test-e2e-data-importer-psmdb
          - test-e2e-data-importer-pxc
    uses: ./.github/workflows/e2e-eks.yaml
    secrets: inherit
    with:
      make_target: ${{ matrix.make_target }}

  e2e-resize-storage-tests:
    name: Resize storage tests
    concurrency: eks-e2e-tests
    if: contains(fromJSON('["test/e2e", "test/e2e-resize-storage"]'), github.event.pull_request.labels.*.name)
    uses: ./.github/workflows/e2e-eks.yaml
    secrets: inherit
    with:
      make_target: test-e2e-resize-storage
