---
name: E2E
on:
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]
env:
  TOOLS_PATH: "/opt/tools/bin"
  GONOPROXY: 'github.com/percona'
  GONOSUMDB: 'github.com/percona'
  GOPRIVATE: 'github.com/percona'

jobs:
#  e2e-core-tests:
#    name: DB core tests
#    if: |
#      contains(github.event.pull_request.labels.*.name, 'test/e2e') ||
#      contains(github.event.pull_request.labels.*.name, 'test/e2e-core')
#    strategy:
#      fail-fast: false
#      matrix:
#        make_target:
#          - test-e2e-core
#    uses: ./.github/workflows/e2e-eks.yaml
#    secrets: inherit
#    with:
#      make_target: ${{ matrix.make_target }}
#
#  e2e-db-upgrade-tests:
#    name: DB upgrade tests
#    if: |
#      contains(github.event.pull_request.labels.*.name, 'test/e2e') ||
#      contains(github.event.pull_request.labels.*.name, 'test/e2e-db-upgrade')
#    strategy:
#      fail-fast: false
#      matrix:
#        make_target:
#          - test-e2e-db-upgrade
#    uses: ./.github/workflows/e2e-eks.yaml
#    secrets: inherit
#    with:
#      make_target: ${{ matrix.make_target }}
#
#  e2e-db-operator-upgrade-tests:
#    name: DB operator upgrade tests
#    if: |
#      contains(github.event.pull_request.labels.*.name, 'test/e2e') ||
#      contains(github.event.pull_request.labels.*.name, 'test/e2e-operator-upgrade')
#    strategy:
#      fail-fast: false
#      matrix:
#        make_target:
#          - test-e2e-operator-upgrade
#    uses: ./.github/workflows/e2e-eks.yaml
#    secrets: inherit
#    with:
#      make_target: ${{ matrix.make_target }}
#
#  e2e-engine-features-tests:
#    name: DB engine features tests
#    if: |
#      contains(github.event.pull_request.labels.*.name, 'test/e2e') ||
#      contains(github.event.pull_request.labels.*.name, 'test/e2e-engine-features')
#    strategy:
#      fail-fast: false
#      matrix:
#        make_target:
#          - test-e2e-engine-features
#    uses: ./.github/workflows/e2e-eks.yaml
#    secrets: inherit
#    with:
#      make_target: ${{ matrix.make_target }}
#
#  e2e-data-import-tests:
#    name: Data importer tests
#    if: |
#      contains(github.event.pull_request.labels.*.name, 'test/e2e') ||
#      contains(github.event.pull_request.labels.*.name, 'test/e2e-data-importer')
#    strategy:
#      fail-fast: false
#      matrix:
#        make_target:
#          - test-e2e-data-importer-pg
#          - test-e2e-data-importer-psmdb
#          - test-e2e-data-importer-pxc
#    uses: ./.github/workflows/e2e-eks.yaml
#    secrets: inherit
#    with:
#      make_target: ${{ matrix.make_target }}
#
#  e2e-resize-storage-tests:
#    name: Resize storage tests
#    if: |
#      contains(github.event.pull_request.labels.*.name, 'test/e2e') ||
#      contains(github.event.pull_request.labels.*.name, 'test/e2e-resize-storage')
#    strategy:
#      fail-fast: false
#      matrix:
#        make_target:
#          - test-e2e-resize-storage
#    uses: ./.github/workflows/e2e-eks.yaml
#    secrets: inherit
#    with:
#      make_target: ${{ matrix.make_target }}

  e2e-tests:
    name: E2E EKS tests
    strategy:
      fail-fast: false
      matrix:
        make_target: []
        include:
          - make_target: ${{ contains(fromJSON('["test/e2e", "test/e2e-core"]'), github.event.pull_request.labels.*.name) && 'test-e2e-core' }}
          - make_target: ${{ contains(fromJSON('["test/e2e", "test/e2e-db-upgrade"]'), github.event.pull_request.labels.*.name) && 'test-e2e-db-upgrade' }}
          - make_target: ${{ contains(fromJSON('["test/e2e", "test/e2e-operator-upgrade"]'), github.event.pull_request.labels.*.name) && 'test-e2e-operator-upgrade' }}
          - make_target: ${{ contains(fromJSON('["test/e2e", "test/e2e-engine-features"]'), github.event.pull_request.labels.*.name) && 'test-e2e-engine-features' }}
          - make_target: ${{ contains(fromJSON('["test/e2e", "test/e2e-data-importe"]'), github.event.pull_request.labels.*.name) && 'test-e2e-data-importer-pg' }}
          - make_target: ${{ contains(fromJSON('["test/e2e", "test/e2e-data-importe"]'), github.event.pull_request.labels.*.name) && 'test-e2e-data-importer-psmdb' }}
          - make_target: ${{ contains(fromJSON('["test/e2e", "test/e2e-data-importe"]'), github.event.pull_request.labels.*.name) && 'test-e2e-data-importer-pxc' }}
          - make_target: ${{ contains(fromJSON('["test/e2e", "test/e2e-resize-storage"]'), github.event.pull_request.labels.*.name) && 'test-e2e-resize-storage' }}
    uses: ./.github/workflows/e2e-eks.yaml
    secrets: inherit
    with:
      make_target: ${{ matrix.make_target }}
