---
name: E2E
on:
  push:
    branches:
      - import-test
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]
env:
  TOOLS_PATH: "/opt/tools/bin"
  GONOPROXY: 'github.com/percona'
  GONOSUMDB: 'github.com/percona'
  GOPRIVATE: 'github.com/percona'

jobs:
  e2e-data-importer-flows:
    name: Data importer tests
    strategy:
      fail-fast: false
      matrix:
        make_target:
          - test-e2e-data-importer-psmdb
    uses: ./.github/workflows/e2e-k3d.yaml
    secrets: inherit
    with:
      make_target: ${{ matrix.make_target }}
