---
name: E2E
on:
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]

concurrency:
  group: eks-e2e-tests
  cancel-in-progress: true

env:
  TOOLS_PATH: "/opt/tools/bin"
  GONOPROXY: 'github.com/percona'
  GONOSUMDB: 'github.com/percona'
  GOPRIVATE: 'github.com/percona'

jobs:
  e2e-core-tests:
    name: DB core tests
    if: |
      contains(github.event.pull_request.labels.*.name, 'test/e2e') ||
      contains(github.event.pull_request.labels.*.name, 'test/e2e-core')
    uses: ./.github/workflows/e2e-eks.yaml
    secrets: inherit
    with:
      make_target: test-e2e-core

  e2e-db-upgrade-tests:
    name: DB upgrade tests
    if: |
      contains(github.event.pull_request.labels.*.name, 'test/e2e') ||
      contains(github.event.pull_request.labels.*.name, 'test/e2e-db-upgrade')
    uses: ./.github/workflows/e2e-eks.yaml
    secrets: inherit
    with:
      make_target: test-e2e-db-upgrade

  e2e-db-operator-upgrade-tests:
    name: DB operator upgrade tests
    if: |
      contains(github.event.pull_request.labels.*.name, 'test/e2e') ||
      contains(github.event.pull_request.labels.*.name, 'test/e2e-operator-upgrade')
    uses: ./.github/workflows/e2e-eks.yaml
    secrets: inherit
    with:
      make_target: test-e2e-operator-upgrade

  e2e-engine-features-tests:
    name: DB engine features tests
    if: |
      contains(github.event.pull_request.labels.*.name, 'test/e2e') ||
      contains(github.event.pull_request.labels.*.name, 'test/e2e-engine-features')
    uses: ./.github/workflows/e2e-eks.yaml
    secrets: inherit
    with:
      make_target: test-e2e-engine-features

  e2e-data-import-tests:
    name: Data importer tests
    if: |
      contains(github.event.pull_request.labels.*.name, 'test/e2e') ||
      contains(github.event.pull_request.labels.*.name, 'test/e2e-data-import')
    strategy:
      fail-fast: false
      matrix:
        make_target:
          - test-e2e-data-importer-pg
          - test-e2e-data-importer-psmdb
          - test-e2e-data-importer-pxc
    uses: ./.github/workflows/e2e-eks.yaml
    secrets: inherit
    with:
      make_target: ${{ matrix.make_target }}

  e2e-resize-storage-tests:
    name: Resize storage tests
    if: |
      contains(github.event.pull_request.labels.*.name, 'test/e2e') ||
      contains(github.event.pull_request.labels.*.name, 'test/e2e-resize-storage')
    uses: ./.github/workflows/e2e-eks.yaml
    secrets: inherit
    with:
      make_target: test-e2e-resize-storage
